/*
colors 
primary: #c0eb6a
primary-light:#f4f6f0
primary-dark:#485550


Grey Light 1: #faf9f9;
Grey Light 2: #f4f2f2'
Grey Light 3: #f0eeee;
Grey Light 4: #ccc;

Grey-dark-1:#333;
Grey-dark-2:#777;
Grey-dark-3:#999;

#f8c765
#f7bc13
*/

:root {
  --color-primary: #c0eb6a;
  --color-primary-light: #f4f6f0;
  --color-primary-dark: #485550;
  --color-primary-dark-1: #333;
  --color-orange: #ff7730;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-primary-dark);
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom var(--color-primary-light),
    var(--color-primary)
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
button {
  text-shadow: none;
  font-size: 1.4rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  font-weight: 600;
  font-family: Poppins;
}
a {
  color: #f4f6f0;
}
h2 {
  font-family: 'Poppins';
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
h4 {
  font-family: Poppins;
  font-weight: 600;
}
