//////////////////////////////////////////
// PANE TWO

#pane-two {
  background-color: var(--color-primary-light);
  padding-top: 13rem;
  .pane-two {
    padding: 2rem 0;
    display: flex;
    min-height: 78vh;

    &__editor {
      flex: 0 0 57%;
      background-color: #fff;
      padding: 4rem;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
      &-heading {
        background-color: var(--color-primary-dark);
        color: var(--color-primary);
        padding: 1rem 3rem;
        max-width: 19rem;
        font-size: 1.6rem;
        font-family: Poppins;
        font-weight: 400;
      }
      &-img {
        height: 15rem;
        width: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1rem);

        &-publisher {
          height: 100%;
          transition: all 0.5s;
        }
      }
      &-text {
        font-size: 1.35rem;
        letter-spacing: 1px;
        &-btn {
          margin-top: 2rem;
        }
      }
    }
    &__download {
      flex: 1;
      display: flex;
      justify-content: center;
      &-form {
        .alert {
          background-color: #79c879;
          padding: 1.5rem 2rem;
          text-align: center;
          color: #fff;
          display: none;
        }

        form {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
